html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
body{
    text-align:center;
    background: rgba(0,0,0,0.7) url(./markus-spiske-khurOlBGbQ8-unsplash.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position:center ;
    color:white;

}
h1{
    color: goldenrod;
}
#message-el{
    font-style:italic;
}
button{
    display:block;
    margin:0 auto;
    color: #016f32;
    width: 150px;
    padding:5px 0 5px 0;
    border:none;
    border-radius:5px;
    background:goldenrod;
    font-weight: 700;
    text-transform:uppercase;
}
button:first-of-type{
    margin-bottom:10px;
}
